<div *ngIf="petDetail">
  <h1>{{ petDetail.name | uppercase }}</h1>
  <div class="pet-container" class="card card-block card-header">
    <div class="test-container">
      <h5 class="breed" data-protector-id="pet-breed">
        {{ petDetail.species }}
      </h5>
      <h6 data-protector-id="pet-age">{{ petDetail.age }} años</h6>
      <h6 data-protector-id="pet-weight">{{ petDetail.weight }} Kg</h6>
      <h6 data-protector-id="pet-size">{{ petDetail.size }}</h6>
      <h6 data-protector-id="pet-location">{{ petDetail.location }}</h6>
    </div>
    <img src="{{petDetail.image}}" />
  </div>
  <button
    (click)="adoptionRequest()"
    type="button"
    class="btn btn-primary"
    data-protector-id="pet-adoption"
  >
    Adoptar
  </button>
  <button (click)="goBack()" type="button" class="btn btn-primary">
    go back
  </button>
</div>
