<div *ngIf="org" class="card card-block card-header details">
  <h2>{{ org.name }}</h2>
  <div>
    <p>
      {{ org.location }}
    </p>
    <p>
      {{ org.web }}
    </p>
    <p>
      {{ org.email }}
    </p>
  </div>
  <button class="newpet-btn" routerLink="/orgs/{{ org._id }}/pets">New Pet</button>
  <button class="back-btn" (click)="goBack()">Back</button>
  <!-- <div *ngFor="let query of org.queries">
    <div class="notifications-container">
      <alert type="success">
        <p>{{query.user.name}} quiere adoptar a {{query.pet.name}}</p>
        <p (click)="acceptAdoption(query._id, query.pet._id, query.user._id)">✅</p>
        <p (click)="rejectAdoption(query._id, query.pet._id, query.user._id)">❎</p>
      </alert>
    </div>
  </div> -->
</div>
<div class="card card-block card-header pet-container">
  <div class="wrapper" *ngFor="let pet of org.pets">
    <h4>{{ pet.name }}</h4>
    <h4>{{ pet.breed }}</h4>
  </div>
</div>
