<div class="title-container module">
  <img src="assets/img/catdog.png" style="width:100px; height: 100px">
  <h1>A Casa <span>aka</span> MascotApp</h1>
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Who's there? <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/user">User</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/orgs">Organizations</a></li>
    </ul>
  </div>
</div>

<div class="carousel-inner">
  <div class="item active">
    <img src="assets/img/cat-slideshow.jpg" alt="Pablito">
    <div class="carousel-caption">
      <h3>Pablito</h3>
      <p>3 years 10 months</p>
    </div>
  </div>
