<div class="container">
  <div class="title">
      <h1>Data</h1>
      <img src="assets/img/icons8-dog-100.png">
  </div>
  
  <form (ngSubmit)="addPet()" #newPet="ngForm">
    <div class="form-group">
      <label for="species"> Species:
        <select class="form-control" id="species" [(ngModel)]="pet.species" name="species" required >
          <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
        </select>    
      </label>
    </div>
    <div class="form-group">
      <label for="breed"> Breed:
          <input type="text" class="form-control" id="breed" [(ngModel)]="pet.breed" name="breed" required /> 
      </label>
    </div>
    <div class="form-group">
      <label for="name"> Name:   
        <input type="text" class="form-control" id="name" [(ngModel)]="pet.name" name="name" required />    
      </label>
    </div>
    <div class="form-group">
      <label for="age"> Age:
        <input type="number" class="form-control" id="age" [(ngModel)]="pet.age" name="age" required />    
      </label>      
    </div>
    <div class="form-group">
      <label for="weight"> Weight:
        <input type="number" class="form-control" id="weight" [(ngModel)]="pet.weight" name="weight" required />    
      </label>
    </div>
    <div class="form-group">
      <label for="size"> Size:
        <select class="form-control" id="size" [(ngModel)]="pet.size" name="size" required>
          <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
        </select>        
      </label>      
    </div>
    <div class="form-group">
      <label for="location"> Location:
        <input type="text" class="form-control" id="location" [(ngModel)]="pet.location" name="location" required />    
      </label> 
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!newPet.form.valid" >Add a pet!</button>
  </form>
</div>